.comment-body {
    font-size : 18px;
    font-weight : 600;
    color : #6c757d;
    zoom : 0.8;
}
.comment-title {
    color: #2f4db5;
}
.comment {
    font-size: 25px;
}
#content {
    font-size : 25px;
}

.comment-button{
    display: flex;
}

.btn {
    display: inline-block;
    font-size : 15px;
    font-weight : 600;
    width : 130px;
    height : 50px;
    margin : 5px;
}