.post-body {
    font-size : 17px;
    font-weight : 600;
    color : #6c757d;
    zoom : 0.8;
}

.post-title {
    text-align: center;
    color : #003D91;
    font-size : 3em;
    font-weight: 600;
    margin: 20px;
}

.form-check-label {
    font-size : 16px;
    font-weight : 500;
}

#classification {
    font-size : 17px;
    font-weight : 600;
    color : #495057;
}

.post-button{
    display: flex;
    justify-content: center;
}

.btn {
    display: inline-block;
    font-size : 18px;
    font-weight : 600;
    width : 200px;
    height : 70px;
    margin : 30px;
}